  .container {
    width: 90%;
    height: 70%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin: auto;
  }
  .container2{
    padding: 0px 20px;
  }
  .title {
    text-align: center;
    font-family: poppinssemibold;
    margin: 20px 0px 50px 0px;
  }

  #cart{
    margin-bottom: 40px;
  }

  .btn-finalizar {
    display: flex;
    justify-content: right;
  }

  .pag-pix{
    display: none;
  }

/* CONFIRMAÇÃO */
#confirmation{
  display: none;
  text-align: center;
  margin: 80px 0px ;
}
/* CONFIRMAÇÃO */

/* footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
} */