.card-venda{
    width: 35%;
    height: 500px;
    margin: 10px;
    background-color: #e7e7e7;
    border: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.card-img{
    width: 5%;
}
#img{
    width: 90%;
}